<div ng-controller="ArticlesCtrl">
  <div class="backend-header">
    <div class="row">
      <div class="col-md-6">
        <h1>ARTICLES</h1>
      </div>
      <div class="col-md-6">
        <a href="/articles/add" class="btn btn-default btn-info pull-right">Add Article</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="search" class="form-control" ng-model="q" placeholder="Find Articles" aria-label="Find Articles">
      </div>
    </div>
  </div>
  <div class="articles">
    <div class="row">
      <div class="col-sm-3">
        <h4>HEADLINE</h4>
      </div>
      <div class="col-sm-3">
        <h4>PHOTO</h4>
      </div>
      <div class="col-sm-2">
        <h4>AUTHOR</h4>
      </div>
      <div class="col-sm-2">
        <h4>DATE</h4>
      </div>
      <div class="col-sm-2">
        <h4>EDIT</h4>
      </div>
    </div>
    <div ng-repeat="article in articles.slice().reverse() | filter: q as results">
      <div class="row spacer-bottom">
        <div class="col-sm-3">
          <h4><a href="/articles/author/{{author.name}}">{{article.title}}</a></h4>
        </div>
        <div class="col-sm-3">
          <img ng-src={{article.image}}>
        </div>
        <div class="col-sm-2">
          <p>{{article.author}}</p>
        </div>
        <div class="col-sm-2">
          <p><span ng-bind="article.date | date: 'MM/dd/yyyy'"></span></p>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-default" href="/articles/edit/{{article._id}}">Edit Article</a>
        </div>
      </div>
    </div>
    <div ng-if="articles == false">
      No articles to display
    </div>
  </div>
</div>
