<div ng-controller="ArticlesSlugCtrl">
  <header id="gtco-header" class="gtco-cover" role="banner" ng-style="{'background-image': 'url('+ article[0].image + ')'}" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <span class="date-post">4 days ago</span>
              <h1 class="mb30">{{article[0].title}}</h1>
              <p>by <a href="/articles/author/{{article[0].author}}" class="text-link">{{article[0].author}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="gtco-maine">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-12">
          <article class="mt-negative">
            <div class="text-left content-article">
              <div class="row">
                <div class="col-lg-8 cp-r animate-box">
                  <p ng-bind-html="article[0].body"></p>
                </div>
                <div class="col-lg-4 animate-box">
                  <div class="gtco-highlight right">
                    <h4>Highlight</h4>
                    <p>{{article[0].blurb}}</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="related-title animate-box">Related Posts</h2>
        </div>
      </div>
      <div class="row row-pb-md">
        <div class="col-md-12">
          <ul id="gtco-post-list">
            <li class="one-third animate-box entry" data-animate-effect="fadeIn" ng-repeat="articleModule in articleModule.slice().reverse() | limitTo: 3" ng-if="article[0]._id != articleModule._id && article[0].category == articleModule.category">
              <a href="#">
                <div class="entry-img" style="background-image: url(articleModule.image"></div>
                <div class="entry-desc">
                  <h3>{{articleModule.title}}</h3>
                  <p>{{articleModule.blurb}}</p>
                </div>
              </a>
              <a href="/{{articleModule.type}}/{{articleModule.category}}/{{articleModule.slug}}" class="post-meta">{{articleModule.category}}  <span class="date-posted"><span class="date-posted"><time am-time-ago="articleModule.date"></time></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

          <hr>

          <div class="comment-box">
            <h3 class="capped">Comments on <span class="bold">{{article[0].title}}</span>:</h3>
            <div class="row">
              <div class="col-md-12">
                <dir-disqus config="disqusConfig"></dir-disqus>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
