<div ng-controller="AuthorCtrl">
  <div class="backend-header">
    <div class="row">
      <div class="col-md-6">
        <h1>AUTHORS</h1>
      </div>
      <div class="col-md-6">
        <a href="#/authors/add" class="btn btn-default btn-info pull-right">Add Author</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="search" class="form-control" ng-model="q" placeholder="Find Authors" aria-label="Find Authors">
      </div>
    </div>
  </div>
    <div class="authors">
      <div class="row">
        <div class="col-sm-3">
          <h4>NAME</h4>
        </div>
        <div class="col-sm-4">
          <h4>PHOTO</h4>
        </div>
        <div class="col-sm-3">
          <h4>BIO</h4>
        </div>
        <div class="col-sm-2">
          <h4>EDIT</h4>
        </div>
      </div>
      <div ng-repeat="author in authors | filter: q as results">
        <div class="row spacer-bottom">
          <div class="col-sm-3">
            <h4>{{author.name}}</h4>
          </div>
          <div class="col-sm-4">
            <div><img ng-src={{author.image}}></div>
          </div>
          <div class="col-sm-3">
            <p ng-bind-html="author.bio"></p>
          </div>
          <div class="col-sm-2">
            <a href="/authors/edit/{{author._id}}" class="btn btn-default">Edit</a>
          </div>
        </div>
      </div>
      <div ng-if="authors == false">
        No Authors to display
      </div>
  </div>
</div>
