<div ng-controller="LoginCtrl">

  <header id="gtco-header" class="gtco-cover gtco-cover-xsm mb20" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc">
              <span class="date-post">Backend</span>
              <h1>Login</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container backend">
		<div class="row">
			<div class="col-sm-12 mb30">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
          <fieldset>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
          </fieldset>
          <p>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
            <a href="#/categories" class="btn btn-danger">Cancel</a>
          </p>
        </form>
      </div>
    </div>
  </div>

</div>
