<div ng-controller="TagCtrl">

  <header id="gtco-header" class="gtco-cover gtco-cover-xsm mb20" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc">
              <span class="date-post"></span>
              <h1>Tags</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container tags">

		<div class="row">
			<div class="col-sm-12 mb30">
        <h3>WESTERN CONFERENCE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Northwest</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'northwest' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <h3>Pacific</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'pacific' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Southwest</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'southwest' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
			<div class="col-sm-12 mb30 mt30">
        <h3>EASTERN CONFERENCE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Central</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'central' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Atlantic</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'atlantic' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Southeast</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.division == 'southeast' && tag.type == 'team'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
			<div class="col-sm-12 mb30 mt30">
        <h3>PLAYERS</h3>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.type == 'team' && tag.team == 'Atlanta Hawks'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
        </div>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.type == 'player' && tag.team == 'Atlanta Hawks'">
        <div class="row">
          <div class="col-md-2">
            <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
            <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.type == 'team' && tag.team == 'Portland Trail Blazers'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
        </div>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.type == 'player' && tag.team == 'Portland Trail Blazers'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h3>Jazz</h3>
      </div>
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.type == 'player' && tag.team == 'Utah Jazz'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
			<div class="col-sm-12 mb30 mt30">
        <h3>OTHER</h3>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="tag in tags | orderBy: 'name'" ng-if="tag.conference == 'none'">
        <div class="col-md-2">
          <a href="#/tags/details/{{tag.name}}"><img class="team-logo" ng-src="{{tag.image}}" alt="{{tag.name}} logo"></a>
          <h5><a class="center-block mt10 text-center" href="#/tags/details/{{tag.name}}">{{tag.name}}</a></h5>
        </div>
      </div>
    </div>

  </div>

</div>
