  <div ng-controller="LogoutCtrl" class="ng-scope">
    <div class="logout">
      <div class="container">
        <a ng-click="logout()" class="btn btn-default">Logout</a>
      </div>
    </div>
  </div>

  <div ng-controller="ArticlesCtrl">

    <header id="gtco-header" class="gtco-cover gtco-cover-xsm" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  		<div class="overlay"></div>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-7 text-left">
  					<div class="display-t">
  						<div class="display-tc">
  							<span class="date-post"></span>
  							<h1 class="mb30"><a href="#/articles">Articles</a></h1>
  						</div>
  					</div>
  				</div>
          <div class="col-md-5">
            <div ng-repeat="article in articles"></div>
            <p>{{articles.length}}</p>
    	      <a href="#/articles/add" class="btn btn-default btn-info pull-right">Add Article</a>
          </div>
  			</div>
  		</div>
  	</header>

	  <div class="container backend">
      <div class="row">
	      <div class="col-sm-12 mb30">
	        <input type="search" class="form-control" ng-model="articlesearch" placeholder="Find Articles" aria-label="Find Articles">
	      </div>
	    </div>
	    <div ng-repeat="article in articles.slice().reverse() | limitTo: 5 | filter: articlesearch as results ">
	      <div class="row mb20">
	        <div class="col-sm-3">
	          <h4><a href="#/articles/author/{{author.name}}">{{article.title}}</a></h4>
	        </div>
	        <div class="col-sm-3">
	          <img ng-src={{article.image}}>
	        </div>
	        <div class="col-sm-2">
	          <p>{{article.author}}</p>
	        </div>
	        <div class="col-sm-2">
	          <p><span ng-bind="article.date | date: 'MM/dd/yyyy'"></span></p>
	        </div>
	        <div class="col-sm-2">
	          <a class="btn btn-default" href="#/articles/edit/{{article._id}}">Edit Article</a>
	        </div>
	      </div>
	    </div>
	  </div>

  </div>

	<hr>

	<div ng-controller="AuthorCtrl">

    <header id="gtco-header" class="gtco-cover gtco-cover-xsm" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  		<div class="overlay"></div>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-7 text-left">
  					<div class="display-t">
  						<div class="display-tc">
  							<span class="date-post"></span>
  							<h1 class="mb30"><a href="#/authors">Authors</a></h1>
  						</div>
  					</div>
  				</div>
          <div class="col-md-5">
            <div ng-repeat="author in authors"></div>
            <p>{{authors.length}}</p>
    	      <a href="#/authors/add" class="btn btn-default btn-info pull-right">Add Author</a>
          </div>
  			</div>
  		</div>
  	</header>

    <div class="container backend">
      <div class="row">
	      <div class="col-sm-12 mb30">
	        <input type="search" class="form-control" ng-model="authorsearch" placeholder="Find Authors" aria-label="Find Authors">
	      </div>
	    </div>
      <div ng-repeat="author in authors | limitTo: 10 | filter: authorsearch as results">
        <div class="row mb20">
          <div class="col-sm-3">
            <h4>{{author.name}}</h4>
          </div>
          <div class="col-sm-4">
            <div><img ng-src={{author.image}}></div>
          </div>
          <div class="col-sm-3">
            <p ng-bind-html="author.bio"></p>
          </div>
          <div class="col-sm-2">
            <a href="#/authors/edit/{{author._id}}" class="btn btn-default">Edit</a>
          </div>
        </div>
      </div>
	  </div>

	</div>

	<hr>

	<div ng-controller="TagCtrl">

    <header id="gtco-header" class="gtco-cover gtco-cover-xsm" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  		<div class="overlay"></div>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-7 text-left">
  					<div class="display-t">
  						<div class="display-tc">
  							<span class="date-post"></span>
  							<h1 class="mb30"><a href="#/tags">Tags</a></h1>
  						</div>
  					</div>
  				</div>
          <div class="col-md-5">
            <div ng-repeat="tag in tags"></div>
            <p>{{tags.length}}</p>
    	      <a href="/#tags/add" class="btn btn-default btn-info pull-right">Add Tag</a>
          </div>
  			</div>
  		</div>
  	</header>

	  <div class="container backend">
      <div class="row">
	      <div class="col-sm-12 mb30">
	        <input type="search" class="form-control" ng-model="tagsearch" placeholder="Find Tags" aria-label="Find Tags">
	      </div>
	    </div>
	    <div ng-repeat="tag in tags | filter: tagsearch as results">
	      <div class="row mb20">
	        <div class="col-sm-3">
	          <h4><a class="capped bold" href="/#tags/details/{{tag.name}}">{{tag.name}}</a></h4>
	        </div>
	        <div class="col-sm-2">
	        	<img ng-src={{tag.image}}>
	        </div>
	        <div class="col-sm-2">
	        	<p class="capped">{{tag.conference}}</p>
	        </div>
	        <div class="col-sm-2">
	        	<p class="capped">{{tag.division}}</p>
	        </div>
	        <div class="col-sm-3">
	          <a href="/#tags/edit/{{tag._id}}" class="btn btn-default">Edit</a>
	        </div>
	      </div>
	    </div>
	  </div>

  </div>
